.notebook {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.notebook__header {
  background-color: rgba(15, 15, 15, 0.9);
  color: #fff;
  padding: 15px 20px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.notebook__header div {
  width: 25%;
  display: inline-block;
  text-align: center;
}

.notebook__header div:last-child {
  display: none;
}

.notebook__list {
  height: 300px;
  overflow-y: auto;
}

.notebook__contact-number {
  position: absolute;
  right: 10px;
  top: -25px;
}

.notebook__error {
  margin-top: 70px;
  text-align: center;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  width: 65px;
  height: 65px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  
  .notebook {
    width: 600px;
  }
}

@media (max-width: 620px) {

  .notebook {
    width: 310px;
  }

  .notebook__header div {
    width: 100%;
    display: none;
    text-align: left;
    padding: 0 10px;
  }

  .notebook__header div:last-child {
    display: block;
  }

  .notebook__error {
    margin-top: 50px;
  }
  
}
